@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'Share-Tech';
    src: url('../fonts/ShareTech-Regular.ttf');
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('../fonts/Poppins-Bold.ttf');
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('../fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Gloomie-Saturday';
    src: url('../fonts/Gloomie-Saturday.otf') format("opentype");
}

@font-face {
    font-family: 'OldschoolGrotesk';
    src: url('../fonts/OldschoolGrotesk-NormalExtraBold.otf') format("opentype");
}

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    &::before {
        content: "";
        position: absolute;
    }
}

main.main {
    height: 100vh;
    background-size: cover;
}

.font-share-tech {
    font-family: 'Share-Tech', serif, sans-serif;
}

.poppins-bold {
    font-family: 'Poppins-Bold', serif, sans-serif;
}

.poppins-regular {
    font-family: 'Poppins-Regular', serif, sans-serif;
}

.roboto {
    font-family: 'Roboto', serif, sans-serif;
}

.roboto-bold {
    font-family: 'Roboto-Bold', serif, sans-serif;
}

.font-gloomie {
    font-family: 'Gloomie-Saturday', serif, sans-serif;
}

.font-oldschoool {
    font-family: 'OldschoolGrotesk', serif, sans-serif;
}

::-webkit-scrollbar {
    width: 10px;

    @media screen and (max-width: 768px) {
        display: none;
    }
}

::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 999px;

    &:active {
        background-color: white;
    }
}

.text-main {
    color: #4b7eff;
}